@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

<div class="content-container">
    <div>
      <img style="width:100%" src="~/image/Mediabazaar.jpg" alt="Cinque Terre"/>
    </div>
</div>