@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

<div class="main">
    <div class="main-index">
        <div class="text-box">
            <h1>Media Bazaar</h1>
            <a asp-area="" asp-page="/Profile" class="btn">Login</a>
        </div>
    </div>
</div>
