@page
@model MediaBazaarWebsite.Pages.PreferedtimeModel
@{ ViewData["Title"] = "Preferedtime"; }

<style>
</style>
<body>
    <div class="container">
        <div>

            <p>  Welcome, @User.Identity.Name</p>

            <form method="post">

                <h2>Employee Prefered Work Time</h2>

                <table style="width:100%">
                    <tr align="left;">
                        <td> Prefered </td>
                        <td>Day</td>
                        <td> Shift </td>
                        
                    </tr>

                </table>
            </form>
        </div>
    </div>


</body>
