@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div>
        <h4 class="title">Profile page</h4>

        <p>  Welcome, @User.Identity.Name</p>

        <form method="post">

            
        </form>
    </div>
</div>