@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div>
        <img width="100%" height=" 30px" src="~/image/Mediabazaar.jpg" alt="Mediabazaar" />
    </div>
</div>