@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div>
        <h4 class="title">Profile page</h4>

        <p>  Welcome, @User.Identity.Name</p>

        <form method="post">

            <p style="text-align: center">    @ViewData["Message"] </p>

            <label asp-for="employee.EmployeeID">ID: </label>
            <br />
            <span asp-validation-for="employee.EmployeeID"></span>
            <input asp-for="employee.EmployeeID" readonly/>
            <br />

            <label asp-for="employee.FirstName">FirstName: </label>
            <br />
            <span asp-validation-for="employee.FirstName"></span>
            <input asp-for="employee.FirstName" />
            <br />

            <label asp-for="employee.LastName">LastName: </label>
            <br />
            <span asp-validation-for="employee.LastName"></span>
            <input asp-for="employee.LastName" />
            <br />

            <label asp-for="employee.Username">UserName: </label>
            <br />
            <span asp-validation-for="employee.Username"></span>
            <input asp-for="employee.Username" />
            <br />

            <label asp-for="employee.Password">Password: </label>
            <br />
            <span asp-validation-for="employee.Password"></span>
            <input asp-for="employee.Password" />
            <br />

            <label asp-for="employee.Email">Email: </label>
            <br />
            <span asp-validation-for="employee.Email"></span>
            <input asp-for="employee.Email" />
            <br />

            <label asp-for="employee.PhoneNumber">PhoneNumber: </label>
            <br />
            <span asp-validation-for="employee.PhoneNumber"></span>
            <input asp-for="employee.PhoneNumber" />
            <br />

            <label asp-for="employee.BSN">BSN: </label>
            <br />
            <span asp-validation-for="employee.BSN"></span>
            <input asp-for="employee.BSN" />
            <br />

            <label asp-for="employee.City">City: </label>
            <br />
            <span asp-validation-for="employee.City"></span>
            <input asp-for="employee.City" />
            <br />

            <button> Update Account </button>
        </form>
    </div>
</div>