@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container">
    <div>
        <h4 class="title">Profile page</h4>

        <p>  Welcome, @Model.Employee.FirstName @Model.Employee.LastName </p>

        <form class="profile-form" method="post">
            <div class="input">
                <input asp-for="Employee.FirstName" name="FirstName" />
                <label asp-for="Employee.FirstName">First Name:</label>
            </div>
            <div class="input">
                <input asp-for="Employee.LastName" name="LastName" />
                <label asp-for="Employee.LastName">Last Name:</label>
            </div>
            <div class="input">
                <input asp-for="Employee.Email" name="Email" />
                <label asp-for="Employee.Email">Email:</label>
            </div>
            <input class="submit-btn" type="submit" value="Update Profile" />
        </form>
    </div>
</div>