@page
@model MediaBazzar.Pages.ScheduleModel
@{ ViewData["Title"] = "Schedule"; }
<style>
</style>
<body>
    <div class="container">
        <div>

            <p>  Welcome, @User.Identity.Name</p>



            <h2>Employee schedule</h2>

            <hr />
            <table cellpadding="10" cellspacing="10">
                <tr>
                    <th>Day</th>
                    <th>Shift</th>
                </tr>
                    @foreach (var item in Model.pws)
                    {

                    <tr>
                        <td>@item.Day</td>
                        <td>@item.Shift</td>
                    </tr>
                }
                </table>
           
            </div>
    </div>


</body>
