@page
@model MediaBazzar.Pages.ShiftModel
@{
    Layout = "Homepage_Layout";
    ViewData["Title"] = "Shift";
}

@section scripts{
    <partial name="_ValidationScriptsPartial" />
    }
<body>
    <form class="action">
        <fieldset>
            <legend>Working hours:</legend>

            <div class="container">

                <label for="Day">Date: </label>
                <input type="date" id="date" name="date" value="1-10-2015">

                <label for="MostPreferedTime">MostPreferedTime: </label>
                <input type="time" id="appt" value="12:45" />


                <label for="LeastPreferedTime">LeastPreferedTime: </label>
                <input type="time" id="appt" value="18:30" />
                </div>
</fieldset>
</form>
</body>